* {
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(images/main-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body img {
  width: 100%;
  height: auto;
}

button,
input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

h4 {
    font-family: 'Exo 2 regular', sans-serif;
    font-style: italic;
    font-weight: 400i;
}

#form-p {
    font-style: italic;
    color: #ff4747;
}


/* .container {
  max-width: 600px;
  margin: 0 auto;
} */

.error-message {
  color: red;
}

.hidden {
  display: none;
}

#js-form {
  padding-top: 70%;
  position: fixed;
}

#js-form label {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

#results {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.856);
  border-radius: 7px;
  text-align: center;
  
}

#results address {
    font-family: "Exo 2", sans-serif;
    font-style: italic;
}

#results a {
    color: #ff4747;
}

#results a:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
    transition: 0.4s ease;
}

#results h3 {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    padding-top: 30px;
}


@media screen and (min-width: 850px) {

    
  }

  /* iPhone X */

  @media screen and (min-width: 375px) {
    #results {
        display: relative;
        position: relative;
        margin-top: 30px;
        border-radius: 10px;
    }

    #js-form {
        position: relative;
    }

     body {
         position: relative;
     }
  }

  @media screen and (min-width: 1000px) {

  }