html, body, main, h1{
  font-family: 'DM Sans', sans-serif;
  padding: 0;
  margin: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: #ff6d6d;
  font-family: 'DM Sans', sans-serif;
  background-image: url(images/bg-3tran.png);
  background-size: 100%;
  background-repeat: repeat;
}

h1 {
  color: rgb(255, 252, 79);
  text-shadow: 2px 2px #ff5b5b;
  text-align: center;
  font-family: 'Just Another Hand', cursive;
  font-size: 100px;
  padding-top: 10px;
}

h4 {
  font-style: italic;
  font-weight: 400i;
}

button:hover {
  cursor: pointer;
}

/* Form styles */

#food-form {
  text-align: center;
  background-image: url(images/bg-3.jpg);
  background-size: 100%;
  background-repeat: repeat;
  padding-bottom: 50px;
}

#form-p {
  font-style: italic;
  color: #ff4747;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

#js-form {
  margin-top: 100px;
  margin-bottom: 100px;
}

.form_div {
  display: inline-block;
}

#js-form label {
  font-weight: 600;
  font-size: 30px;
  text-shadow: 2px 2px rgba(241, 39, 39, 0.795);
  color: rgb(255, 252, 79);
  display: block;
}

#city_label {
  margin-right: 80px;
}

input {
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #000;
  padding-top: 10px;
}

button, input[type="text"] {
  padding: 5px;
}

#submit-button {
  background-color: rgb(255, 78, 78);
  border: 1px solid rgb(235, 31, 31);
  border-radius: 4px;
  padding: 5px 5px;
  color: white;
  font-size: 15px;
  margin-left: 20px;
}

#submit-button:hover {
  cursor: pointer;
}

/* Result styles */

#results {
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.925);
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
}

#results address {
  font-style: italic;
}

#results a {
  color: #ff4747;
}

#results a:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
  transition: 0.2s ease;
}

#results h3 {
  border-top: 1px solid #ff4747;
  padding-top: 30px;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) {

body {
  background-size: 100%;
  background-attachment: fixed;
  background-position: 100% 100%; 
  background-size: 100%;
 }

.form_div {
  display: block;
 }

#food-form {
  background-image: url(images/bg-3.jpg);
  background-repeat: no-repeat;
 }

#js-form {
  margin-top: 30px;
  margin-bottom: 160px;
 }

#js-form label {
  display: inline-block;
 }

#city_label {
  margin-right: 0px;
 }
}

@media (max-width: 700px) {
  body {
    background-image: url(images/mobilebg-3.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 100% 100%; 
    background-size: 100%;
  }

  #js-form {
    margin-bottom: 30px;
  }
  
}