html, body, main, h1{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

main {
}

h1 {
  /* font-family: "Exo 2", sans-serif; */
  color: red;
  text-shadow: 2px 2px black;
  text-align: center;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

#food-form {
  /* background-image: url(images/main-bg.jpg); */
  /* background-size: 100%;
  background-repeat: no-repeat; */
  text-align: center;
  background-image: url(images/food-bgs/food-wallpaper_ctad2r_c_scale\,w_1400.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  /* overflow: hidden;
  clip-path: polygon(0 0,100% 0,100% 100%,0 94%); */
}

button,
input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

h4 {
  /* font-family: "Exo 2 regular", sans-serif; */
  font-style: italic;
  font-weight: 400i;
}

#form-p {
  font-style: italic;
  color: #ff4747;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

#js-form {
  margin-top: 350px;
}

#js-form label {
  /* font-family: "Exo 2", sans-serif; */
  font-weight: 600;
  font-size: 30px;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.795); */
  color: black;
}

.form_div {
  display: inline-block;
}

#results {
  /* font-family: "Exo 2", sans-serif; */
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.856);
  border-radius: 7px;
  text-align: center;
  margin-top: 20px;
}

#results address {
  /* font-family: "Exo 2", sans-serif; */
  font-style: italic;
}

#results a {
  color: #ff4747;
}

#results a:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
  transition: 0.2s ease;
}

#results h3 {
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 30px;
}

#submit-button:hover {
  cursor: pointer;
}

#submit-button {
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 5px;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) {
  .form_div {
    display: block;
}

#food-form {
  background-image: url(images/food-bgs/food-wallpaper_ctad2r_c_scale\,w_808.jpg);
}

#js-form {
  margin-top: 100px;
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/* @media (min-width: 320px) and (max-width: 500px) {
  .form_div {
    display: block;
  }

  #food-form {
    background-image: url(images/food-bgs/food-wallpaper_ctad2r_c_scale\,w_808.jpg);
  }

  #js-form {
    margin-top: 50px;
  }
  
} */